extends layouts/main.pug

block content
	.videos
		each video in videos
			h1=video.title
			h4=video.description
			p=video.videoFile
			video(width="320",height="240",controls)
				source(src=video.videoFile, type="video/mp4")